[Unit]
Description=YSFReflector
After=network.target

[Service]
ExecStartPre=/bin/sleep 1
Type=simple
User=ysfreflector
Group=ysfreflector
Restart=always
ExecStart=/usr/bin/python3 /opt/YSFReflector/YSFReflector /etc/ysfreflector/YSFReflector.ini

[Install]
WantedBy=multi-user.target
